<form class="login-form" method="post" action="/sessions/create">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Login!">
</form>