<div class="navigation">
  <img src="../hacker-news-logo.gif"></img>
  <h3>Hacker News</h3>
  <nav>
    <ul>
      <li>new | </li>
      <li>comments | </li>
      <li>show | </li>
      <li>ask | </li>
      <li>jobs | </li>
      <li>submit</li>
    </ul>
  </nav>
  <a class="login-link" href="/sessions/create">login</a>
  <a class="registration-link" href="/users/new">register</a>
</div>

<div class="login-box">
</div>

<div class="registration-box">
</div>