<div class="navigation">
  <img src="hacker-news-logo.gif"></img>
  <h3>Hacker News</h3>
  <nav>
    <ul>
      <li>new | </li>
      <li>comments | </li>
      <li>show | </li>
      <li>ask | </li>
      <li>jobs | </li>
      <li>submit</li>
    </ul>
  </nav>

  <a href="/sessions/create">login</a>
</div>